[core]
	excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  pager = delta --syntax-theme="night-owlish"
[interactive]
  diffFilter = delta --color-only
[color]
	ui = true
[credential]
  helper = cache --timeout 30000
[commit]
  gpgsign = true
[url "git@github.com:chrishelgert/"]
  insteadOf = "git://github.com/chrishelgert/"
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[branch]
  autosetuprebase = always
[push]
  default = current
[pull]
  rebase = true
[include]
  # For username / github token / etc
  path = ~/.gitconfig.local
[fetch]
  prune = true
[gpg]
	program = gpg2
[rerere]
	enabled = 1
