! #############################################################
! Xft #########################################################
! #############################################################

Xft.dpi:       192
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight

! #############################################################
! URxvt #######################################################
! #############################################################

URxvt.depth:                256

! Padding
URxvt.internalBorder:       16

! Fonts
URxvt*font:                 xft:Hack Nerd Font Mono:style=Regular:size=11
URxvt*boldFont:             xft:Hack Nerd Font Mono:style=Bold:size=11

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Colors generated with https://terminal.sexy/ and https://raw.githubusercontent.com/pedrolucasp/nightowl-macos-terminal/master/NightOwl.terminal
! special
*.foreground:   #d6deeb
*.background:   #011627
*.cursorColor:  #d6deeb

! black
*.color0:       #011627
*.color8:       #575656

! red
*.color1:       #ef5350
*.color9:       #ef5350

! green
*.color2:       #22da6e
*.color10:      #22da6e

! yellow
*.color3:       #addb67
*.color11:      #ffeb95

! blue
*.color4:       #82aaff
*.color12:      #82aaff

! magenta
*.color5:       #c792ea
*.color13:      #c792ea

! cyan
*.color6:       #21c7a8
*.color14:      #7fdbca

! white
*.color7:       #ffffff
*.color15:      #ffffff

URxvt.perl-ext-common: default,matcher,font-size
URxvt.font-size.step: 4
!URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.matcher.rend.0: Uline Bold fg4

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.letterSpace: -2

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! ! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
