#####################
# Navigation        #
#####################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


#####################
# Homebrew and Cask #
#####################
alias cask='brew cask'


#####################
# shortcut to hosts #
#####################
alias hosts='sudo $EDITOR /etc/hosts'


#####################
# Filesystem & co   #
#####################

# List only directories
alias lsd='ls -l | grep "^d"'

# File size
alias fs="stat -f \"%z bytes\""

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"


#####################
# Git               #
#####################

# Undo a `git push`
alias ga="git add"
alias gs="git status"
alias gc="git commit"
alias gp="git push"
alias gl="git log"
alias gpu="git pull"
alias gdf="git diff --color | diff-so-fancy"

alias master="git checkout master"
alias dev="git checkout dev"
